.footer{
    position: relative;
    top:0;
    left:0;
    width:100%;
    height:0.82rem;
    background:#fff;
    display: flex;
    flex-direction:column;
    overflow: hidden;
    .top{
        width:100%;
        height:0.42rem;
        background:#fff;
        box-sizing: border-box;
        border-bottom:0.01rem solid #eee;
        display: flex; 
        justify-content: space-between; 
        align-items: center;  
        
        color:#515151;  
        >.login{
           margin-left:0.16rem; 
           font-size:0.2rem;
        }
        >.goshop{
            margin-right:0.16rem;
            font-size:0.2rem;
        }
        >input{
            width:2.55rem;
            height:0.29rem;
            border-radius:0.145rem;
            border:0.01rem solid #bebdbd;
            padding-left:0.2rem;
            font-size:0.12rem;
        }
    }
    .bottom{
        width:100%;
        height:0.4rem;
        display: flex;
        box-sizing: border-box;
        justify-content: space-between;
        line-height:0.4rem;
        padding: 0 0.33rem;
        a{
            font-size:0.14rem;
        }
        .active{
            box-sizing: border-box;
            border-bottom:0.02rem solid #ff6692;
            color:#ff6692;
        }
    }
}
